.subscribe-btn{
    background-color: black;
    color: white;
    padding: 10px 20px;
    font-weight: bold;
    border-radius: 20px;
}
.subscribe-btn:hover{
    opacity:0.5;
    text-decoration: underline;
    cursor: pointer;
    background-color: aliceblue;
    border: NONE;
    color: black;
}
.join{
    background-color: rgb(240, 236, 236);
    color: black;
    font-weight: bold;
    border-radius: 10px;
    padding: 5PX 10PX;
}
.join:hover{
    opacity:1;
    text-decoration: underline;
    cursor: pointer;

}
.get-it-now-btn{
    background-color: white;
    color: rgb(46 95 212);
    border: 1px solid rgb(46 95 212)
    padding: 10px 20px;
    border-radius: 20px
}
.get-it-now-btn{
    background-color: lightgrey;
    cursor: pointer;
}